body{
    margin:0;
    font-family: 'Inter', sans-serif;
}
header{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding:20px;
    font-size: larger;
}
input{
    width:100%;
    margin-bottom: 2rem;
    font-size: 20px;
    padding:20px;
}
#container{
    display: flex;
    flex-direction: column;
    width:80%;
    margin:0 auto;
}
h1{
    font-size: 3em;
    font-weight: 400;
    margin-bottom: 1em;
    text-align: center;
}
button{
    width:15em;
    font-size: large;
    padding:1em;
    background-color: white;
    box-shadow: none;
    border: 1px solid black;
    cursor: pointer;
}
button:hover{
    background-color: black;
    color: white;
}
#change{
    margin-bottom: 10px;
}